
.delete-button {
  background-color:rgba(255, 0, 0, 0.192); 
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: red; 
  box-shadow: 0 4px 8px rgba(220, 38, 38, 0.2);
}


.student-list-container {
  padding: 20px;
  background: #f5f7fa;
  color: #333;
}

.add-student-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.add-student-button a {
  color: white;
  text-decoration: none;
}

.add-student-button:hover {
  background-color: #357abd;
}
 
